/* QActorWebUI.css */
body {
    font: 100% Lucida Sans;
    margin: 20px;
    line-height: 26px;
}

#footer {
    position: absolute;
    bottom: 5%;
    font: 65% Lucida Sans;
    line-height: 20pt;  
}
#speed,#connection,#sending,#state{
    font: 65% Lucida Sans;
    color: greenyellow
}


#footerTerm {
    float: left;
}
#top{
    position: fixed;
    top:5%;    
}
#command{
    position: fixed;
    top:20%;    
}
table {
  table-layout: fixed;
  width: 100%;
}